/* Основные стили */
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #0071bc;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  text-align: center;
  max-width: 400px;
  width: 100%;
  padding: 30px 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.logo {
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
  object-fit: contain;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container {
  position: relative;
}

input {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

button {
  padding: 15px;
  border-radius: 8px;
  border: none;
  background-color: #0071bc;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005f99;
}

.password-container {
  display: flex;
  position: relative;
}

.password-container input {
  flex: 1;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #0071bc;
  font-size: 20px;
  cursor: pointer;
}

.submit-btn {
  width: 100%;
}

.feedback {
  margin-top: 10px;
  font-size: 14px;
}

.feedback a {
  color: #0071bc;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.feedback a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .auth-container {
    padding: 15px;
  }
}

@media (max-width: 500px) {
  form {
    width: 100%;
  }
}
