/* Стили для страницы авторизации */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Основной контейнер для формы */
.auth-container {
  text-align: center;
  max-width: 400px;
  width: 100%;
  padding: 30px 20px;
  background-color: var(--form-background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container {
  position: relative;
}

input {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--input-background-color);
  transition: background-color 0.3s, border 0.3s;
}

/* Плейсхолдеры */
input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/* Кнопка отправки */
button {
  padding: 15px;
  border-radius: 8px;
  border: none;
  background-color: var(--button-background-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-background-color);
}

/* Цветовая схема в зависимости от темы */
:root {
  --background-color: white;
  --text-color: black;
  --form-background-color: white;
  --input-background-color: white;
  --button-background-color: #0071bc;
  --button-hover-background-color: #005f99;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: white;
    --form-background-color: #333333;
    --input-background-color: #444444;
    --button-background-color: #1e90ff;
    --button-hover-background-color: #1c75c2;
  }
}
